body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
}

h2 {
    color: #333;
    margin: 20px 0 10px 0;
}
h1 {
    color: #333;
    text-align: center;
    width: 100%;
    margin: 15px 120px 10px -120px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.button-panel {
    display: flex;
    flex-direction: column;
    margin: 150px 0px 0px 50px;
}

button {
    padding: 20px 20px;
    margin: 5px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #007BFF;
    color: white;
    transition: transform 0.3s, background-color 0.3s;
}

.reset-button {
    background-color: red;
}

.reset-button:hover {
    background-color: darkred;
}

.background-button {
    background-color: #ff9900;
}

.background-button:hover {
    background-color: #b38000;
}

.download-button {
    background-color: #02a8a5;
}

.download-button:hover {
    background-color: #006267;
}

button:hover {
    transform: scale(1.1);
    opacity: 0.9;
    background-color: #0056b3;
}

#bingo-card {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    width: 800px;
    height: 800px;
    background-size: cover;
    background-position: center;
    border: 5px solid black;
    padding: 10px;
    box-sizing: border-box;
    transition: background-image 0.5s ease-in-out;
    border-radius: 10px;
    position: relative;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    border: 3px solid black;
    background-color: white;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s;
    border-radius: 8px;
    font-size: calc(1.2vw);
    position: relative;
}

.cell:hover {
    background-color: rgb(224, 247, 250);
    transform: scale(1.05);
}

.marked {
    background-color: lightgreen;
    border-color: darkgreen;
}

.marked:hover {
    /* background-color: rgb(224*.1+144*.9, 247*.1+238*.9, 250*.1+144*.9); */
    background-color: rgb(170, 239, 170);
    border-color: darkgreen;
}

.winning-cell {
    background-color: #ffeb3b !important;
}

#policy-bank {
    width: 80%;
    text-align: left;
    margin: 20px 0;
    padding: 15px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    overflow-y: auto;
    max-height: 400px;
}

.policy-item a {
    color: #007BFF;
    text-decoration: none;
    word-break: break-all;
}

.policy-item a:hover {
    text-decoration: underline;
}

#search-bar {
    width: 70%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#bingo-message {
    position: absolute;
    top: 150px;
    left: 80%;
    transform: translateX(-50%);
    font-size: 22px;
    font-weight: bold;
    color: red;
    text-align: center;
}

body::before {
    content: "";
    background: url('background-element.png') no-repeat center center fixed;
    background-size: cover;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.1;  /* Adjust transparency */
    z-index: -1;  /* Place it behind all content */
}